@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap');
*,
td {
  font-family: 'Nanum Gothic Coding', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}


* {
  background-color: #EDEBE5;
  color: #000000;
}
